<app-header></app-header>
<router-outlet></router-outlet>


<div style="display: flex;height: 90vh;">
    <div class="filter">
        <div class="filter-section">
            <h4>Marque</h4>
            <label *ngFor="let brand of brands">
                <input type="checkbox" [value]="brand" (change)="onCheckboxChange($event)"> {{ brand }}
            </label>
        </div>

        <hr class="divider">

        <div class="filter-section">
            <h4>Prix</h4>
            <label>
                Min: {{ this.priceMin }}€
                <input type="range" min="0" max="100000" [(ngModel)]="this.priceMin" (input)="onPriceChange()"> 
                
            </label>
            <label>
                Max: {{ this.priceMax }}€
                <input type="range" min="0" max="100000" [(ngModel)]="this.priceMax" (input)="onPriceChange()"> 
                
            </label>
        </div>

        <hr class="divider">

        <div class="filter-section">
            <h4>km</h4>
            <label>
                Min: {{ kmMin }} km
                <input type="range" min="0" max="1000" [(ngModel)]="kmMin" (input)="onKmChange()"> 
                
            </label>
            <label>
                Max: {{ kmMax }} km
                <input type="range" min="0" max="1000" [(ngModel)]="kmMax" (input)="onKmChange()"> 
                
            </label>
        </div>

        <hr class="divider">

        <div class="filter-section">
            <h4>Année</h4>
            <label>
                Min: {{ yearMinValue }}
                <input type="range" [min]="yearMin" [max]="yearMax" [(ngModel)]="yearMinValue" (input)="onYearChange()"> 
                
            </label>
            <label>
                Max: {{ yearMaxValue }}
                <input type="range" [min]="yearMin" [max]="yearMax" [(ngModel)]="yearMaxValue" (input)="onYearChange()"> 
                
            </label>
        </div>

        <hr class="divider">

        <div class="filter-section">
            <h4>Status</h4>
            <label *ngFor="let status of listStatus">
                <input type="checkbox" [value]="status" (change)="onCheckboxChangeStatus($event)"> {{ status }}
            </label>
        </div>
    </div>

    <div class="table">
        <div style="display: flex;">
            <h3 style="width: 90%;">Voitures</h3>
            <button class="button-create-car" (click)="showCreatePopup()">+</button>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th style="width: 80%;">Voiture</th>
                    <th>Status</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>
                        <h2>{{ car.model }}</h2>
                        <div>{{ car.brand }} - {{ car.year }} - {{ car.km }} km</div>
                    </td>
                    <td>{{ car.status }}</td>
                    <td>{{ car.price }}€</td>
                    <td>
                        <div style="display: flex;">
                            <button *ngIf="car.status === 'En attente' || car.status === 'Réservé'" class="accept-button" (click)="showPopup(car, 'accepter')">+</button>
                            <button *ngIf="car.status === 'En attente' || car.status === 'Réservé'" class="reject-button" (click)="showPopup(car, 'refuser')">x</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>      
    <app-sales-car-popup
    [isVisible]="popupVisible"
    [action]="popupAction"
    (confirmed)="onPopupConfirmed($event)"
  ></app-sales-car-popup>

  <app-add-car-form-popup
  [isVisible]="createCarPopupVisible"
  (carAdded)="onCarAdded($event)"
  (cancelled)="onCancelCreate()"
></app-add-car-form-popup>
</div>